.bodyimg{
    width: 100%;
    height: 200vh;
    top: 0;
    img{
        height: 100%;
    }
}

// 以上背景

.froLoginBG{
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 500;
}


.froLoginBlock_warp{
    position: relative;
}
//登入
.froLoginBlock{
    min-width: 330px;
    min-height:400px;

    position: fixed;
    top:15%;
    left: 50%;
    transform: translate(-50%,0);
    margin: auto;


    //取消按鈕
    .froLoginCancel{
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-50%,-50%);
        vertical-align: top;
        .bi-x-circle-fill{
            font-size: 25px;
            color: #007183;
        }
    }
}


//切換按鈕
.froLoginSwitch{
    display: flex;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .froLoginSwitch_btn{
        width: 50%;
        background-color:#cfceca;
        padding: 5px 0;
        font-size: 20px;
        font-weight: 600;
    }
    .froLoginSwitch_active{
        background-color:#007183;
        color: #fff;
    }

}

// 登入表單
.froLoginForm_wrap{
    margin: auto;
    padding: 20px 0;
    transition: .9s;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f0eee7;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    .froLoginForm{
        display: flex;
        flex-direction: column;
        .froLoginFormTitle{
            margin: auto;
            text-align: center;
            font-size: $card-title;
            font-weight: 600;
        }
        .froLoginFormItem{
            th{
                padding: 10px 0;
                text-align: right;
            }
            input{
                border-radius: 3px;
                border: none;
                outline: none;
                padding: 5px;
                box-shadow: inset 0px 0px 2px #333;
            }
            input[name="gender"]{
                box-shadow: none;
            }
        }
        .froLoginBtn{
            text-align: center;
            padding: 10px 0;
            input{
                background-color: #007183;
                color: $white;
                border: none;
                border-radius: 25px;
                width: 30%;
                padding: 5px 0;
                box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 5px;
            }
        }
    }
}
.froLoginMascot{
    position: absolute;
    left:80%;
    top:75%;
    width: 80px;
    transform-origin:center ;
    animation-name: Mascotjump;
    animation-duration:1s;
    animation-iteration-count:2 ;
}
@keyframes  Mascotjump {
    0%{
        transform: scaleY(1);
        top:75%;
    }
    50%{
        transform: scaleY(.85);
        top:50%;
    }
    100%{
        transform: scaleY(1);
        top:75%;
    }
}

.frologintransition-enter-active,.frologintransition-leave-active {
    transition: all .7s ease-in-out;
}
  
.frologintransition-enter{
    opacity: 1;
    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);

}

.frologintransition-enter-to{
    opacity: 1;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.frologintransition-leave{
    opacity: 1;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.frologintransition-leave-to{
    opacity: 1;
    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);

}

//熊熊動畫
.mascottransition-enter-active,.mascottransition-leave-active {
    transition: all .8s ease-in-out;
}
  
.mascottransition-enter{
    transform: translateX(100%);
    opacity: 0;
}

.mascottransition-enter-to{
    transform: translateX(0);
    opacity: 1;
}

.mascottransition-leave{
    transform: rotateY(0);
    opacity: 1;
}

.mascottransition-leave-to{
    transform: rotateY(90deg);
    opacity: 0;
}

label.error{
    color: red;
}