.nav_Wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 1920px;
    margin: auto;
    background-color: $white;
    box-shadow: 0 3px 3px 0 #ddd5;
}

.navBlock{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    margin: auto;
    .navLogo img{
        height:50px;
    }
    .mainNav{
        display: none;
        flex-grow: 1;
        padding-left: 40px;
        a{
            height: 100%;
            padding: 0 7px;
            color: $black;
            &:hover{
                // background-color: $accentColor;
                color: $accentColor;
            }
            li{
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
    @media screen and (min-width:768px){
        .mainNav{
            display:flex;
        }
    }

    .navMember{
        display: flex;
        align-items: center;
        a{
            color: $black;
        }
        &>li{
            padding-left:20px;
            color: $black;
            cursor: pointer;
        }
        // 登入前
        .loginBoxBtn{
            display: block;
        }
        // 登入後
        .memBoxBtn{
            display: none;
            align-items: center;

            .memIcon{
                display: inline-block;
                margin-right: 5px;
                width: 30px;
                height: 30px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }   
        }
    }
}

//購物車提示
.productInCart{
    position: relative;
}
.productInCart::before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -5px;
    background-color: rgb(255, 115, 0);
}
// 會員資訊下拉選單
.navDropdownMenu{
    display: none;

    position: absolute;
    top: 130%;
    right:5%;
    background-color: $white;

    border-radius: 5px;

    box-shadow: #3335 1px 1px 2px;
    .navDropdownMenuItem{
        padding:10px 45px;
        border-bottom: .5px solid #3335;
        &:hover{
            color: $accentColor;
        }
        a:hover{
            color: $accentColor;
        }
    }
    .navMemProfile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navDropdownMenuPhoto{
            width: 50px;
            overflow: hidden;
            border-radius:50% ;
        }
        .navDropdownMenuTitle{
            width: 70%;
            padding-left: 10px;
        }
    }
}
.navDropdownMenu::before{
    content: '';
    display: block;
    border-bottom: 10px solid $white;
    border-right: 5px solid #0000;
    border-left: 5px solid #0000;
    position: absolute;
    left: 40%;
    top:-10px;
}


//loading
$total: 200;
$ballwidth: 30;
$ballheight: 30; 
$time: 10;


@function randomNum(){
  @return random() * 3 - 1;
}

#loadingbox{
  min-height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
}

.loading {
  height: 100%;
  perspective: 600px;
  transform-style: preserve-3d;
  transition: 3s;
  background: #ffffff;
}
@keyframes BgAnima{
    0%{
        background: #e4ffff;
    }
    100%{
        background: #003d3f;
    }
}

.ball {
  width: $ballwidth+px;
  height: $ballheight+px;
  border-radius: 50%;
  position: absolute;
}



@for $i from 1 through $total {
  .ball:nth-child(#{$i}){
    left: ($i/2 - 1)+vw;
    top:  50%;
    margin-top: -$ballheight/2+px;
    animation: anim#{$i} $time+s infinite alternate ease-in-out;
    animation-delay: -($i * $time/$total)+s;
    // background:radial-gradient(circle at 35% 25%,
    // #fff 0,
    // hsla($i * 1.5, 60%, 50%, 1) 20%,
    // hsla($i * 1.5, 70%, 50%, 1) 40%,
    // hsla($i * 1.5, 80%, 50%, 1) 90%,
    // hsla($i * 1.5, 90%, 50%, 1) 95%,
    // hsla($i * 1.5, 100%, 50%, 1) 100%) ;
    background: hsla($i * 1.5, 100%, 50%, 1);
  }

  @keyframes anim#{$i} {
    0% {
      transform: translate3d(random(155)*randomNum()+vh, random(155)*randomNum()+vw, random(2000)*randomNum()+px);
    }
    50% {
      transform: translate3d(0,0,0);
      opacity: 0;
    }
    100% {
      transform: translate3d(random(155)*randomNum()+vh, random(155)*randomNum()+vw, random(2000)*randomNum()+px);
    }
   
  }
}