// 揪團 / 商城 / 文章卡片元件 (蘇)
.card {

    &--drag {
        width: 35%;
        min-width: 250px;
        flex-shrink: 0;
        padding: 0 1rem;
        margin: 1% 0;
    }

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
    }

    &_person {
        display: flex;
        align-items: center;
    }

    &_photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }

    &_name {
        margin-left: 10px;
        font-size: 16px;
    }

    &_hit {
        font-size: 14px;

        span {
            font-size: 16px;
            color: #FF6666;
        }
    }

    &_content {
        padding: 5%;
        background-color: $card-color;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 5px;

        &--corner {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: -30px;
                left: 18px;

                border-bottom: 25px solid $card-color;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 5px solid transparent;
            }
        }
    }

    &_body {
        position: relative;
    }

    &_tag,
    &_like {
        position: absolute;
    }

    &_tag {
        background-color: #FEBC9F;
        top: 0;
        right: 0;
        padding: 5px;
        border-radius: 0 0 0 10px;
    }

    &_date {
        padding: 10px;
        border-left: 1px solid #333;
    }

    &_time {

        font-size: 14px;

        &--deadline {
            text-align: right;

            span {
                display: block;
            }
        }
    }

    &_like {
        top: 10px;
        left: 10px;
    }

    &_title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #007183;
    }

    &_text {
        font-size: 14px;
        overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }


    &_footer {
        text-align: right;
    }

    &_shopping {
        display: flex;
        justify-content: space-between;
    }

    &_count {
        span {
            font-weight: 600;
            color: #728FAF;
        }
    }

    &_date,
    &_title,
    &_footer {
        margin-top: 15px;
    }

}
//針對手機版調整卡片間的邊距(柯)
@media screen and (max-width: 768px) {
    .card{
        margin: 30px 0;
    }
}