// 全域變數 (蘇)

// 顏色
$main-color: #f5f5f5;
$card-color: #fff;
$white:#fff;
$black:#333;

//header
$navFontColor:rgb(54, 54, 54);
$accentColor:rgb(255, 126, 41);
//footer
$FooterBGColor:rgb(129,216,209);
$FooterIconColor:#333;
// #ffc3a5
$bodyBGcolor:#f0eee7;
$FooterSubColor:#007183;
// rgb(121, 199, 192)


// scrollbar顏色





// 文字大小
$main-title: 80px;
$second-title: 40px;
$third-title: 30px;

$card-title: 18px;
$p-text: 16px;
$card-text: 14px;

// 間距設定
$card-padding: 3%;
